@model CarDealers.Entity.EngineType
@{
    ViewBag.Title = "Update Engine Type";
}
<div class="content-wrap">
    <div class="col-lg-12">
        <div class="card">
            @using (Html.BeginForm("UpdateEngineType", "EngineType", new { id = Model.EngineTypeId }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(model => model.EngineTypeName)
                    @Html.TextBoxFor(model => model.EngineTypeName, new { @class = "form-control input-rounded" })
                    <div style="color : red">
                        @Html.ValidationMessageFor(x => x.EngineTypeName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description)
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control input-rounded" })
                    <div style="color : red">
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
                @Html.HiddenFor(model => model.EngineTypeId)
                <!-- Add form fields for other properties you want to edit -->

                <button type="submit" class="btn btn-dark">Save Changes</button>
            }
        </div>
        <a style="float:right" class="btn btn-dark" href="~/admin/EngineType/ListEngineType">Back to list</a>
    </div>
</div>
