@model CarDealers.Entity.NewsType
@{
    ViewBag.Title = "Update News Type";
}
<div class="content-wrap">
    <div class="col-lg-12">
        <div class="card">
            @using (Html.BeginForm("UpdateNewsType", "NewsType", new { id = Model.NewsTypeId }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(model => model.NewsTypeName)
                    @Html.TextBoxFor(model => model.NewsTypeName, new { @class = "form-control input-rounded" })
                    <div style="color : red">
                        @Html.ValidationMessageFor(x => x.NewsTypeName)
                    </div>
                </div>
                @Html.HiddenFor(model => model.NewsTypeId)
                <!-- Add form fields for other properties you want to edit -->

                <button type="submit" class="btn btn-dark">Save Changes</button>
            }
        </div>
        <a style="float:right" class="btn btn-dark" href="~/admin/NewsType/ListNewsType">Back to list</a>
    </div>
</div>
